# List and Tuples

### Creating List
- Mutable
- denoted by square brackets [  ]

In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [5]:
# To check the datatype of variable
type(numbers)

list

### Create a Empty List

In [7]:
empty_list = []
print("Empty List:", empty_list)

Empty List: []

### Creating a list with Elements

In [25]:
numeric_list = [1,2,3,4]
mixed_list = [1,'two',3.0,[4,[1,2,3]]]

print("Numeric List:",numeric_list)
print("Mixed List:", mixed_list)

mixed_list[3][1][1] # Nested List Elements Access -- value = [1]
mixed_list[3][0]    # -- value = [4]
mixed_list[3][1][0] # Pick first element of 4rd INDEX

Numeric List: [1, 2, 3, 4]
Mixed List: [1, 'two', 3.0, [4, [1, 2, 3]]]

1

In [38]:
sentence = "Python is easy and fun."
print(sentence,type(sentence))

words = sentence.split() # split will work on Strings Functions Only
print(words,type(words))  

sentence2 = "Python-is-easy-and fun."
words = sentence2.split("-")
print(words,type(words))

joined_sentence = " ".join(words)
print("Joined Sentence: ", joined_sentence,type(joined_sentence))

print(words[0],words[3])

Python is easy and fun. <class 'str'>
['Python', 'is', 'easy', 'and', 'fun.'] <class 'list'>
['Python', 'is', 'easy', 'and fun.'] <class 'list'>
Joined Sentence:  Python is easy and fun. <class 'str'>
Python and fun.

### List is Mutable. Let's see

In [40]:
n_list = [1,2,3,4]

n_list[2] = 4.0
n_list[3] = "str"
print(n_list)

[1, 2, 4.0, 'str']

## Tuple
- Immutable
- denoted by round bracket (  )

In [45]:
fruits_tuple = ("apple", "banana","cherry")
print(fruits_tuple)  # Output: ('apple', 'banana', 'cherry')

my_tuple = (1,2,'three',4.0)
# my_tuple[2] = 'changed'
print(my_tuple,type(my_tuple))

('apple', 'banana', 'cherry')
(1, 2, 'three', 4.0) <class 'tuple'>

### Common List Operations

In [48]:
my_list = [1,2,3]
my_list.append(23) # Adds at the end
my_list.append(45)

print(my_list)

[1, 2, 3, 23, 45]

In [50]:
my_list = []
for i in range(5):
    my_list.append("try")

print(my_list,type(my_list))

['try', 'try', 'try', 'try', 'try'] <class 'list'>

### Extend: Adds element of another list to the end of the list

In [53]:
list1 = [1,2,3]
list2 = [4,5,1.0,2]

list1.extend(list2)
print("After extend:", list1)

After extend: [1, 2, 3, 4, 5, 1.0, 2]

Insert: Inserts an element at a specified position in the list.

In [54]:
my_list = [1,2,3]
my_list.insert(1,[66,77])
print("After insert:", my_list)

After insert: [1, [66, 77], 2, 3]

In [55]:
my_list[0] = 99
my_list

[99, [66, 77], 2, 3]

### Removal

In [59]:
# Element based removal
my_list = [11,22,33,44,22,55]
my_list.remove(22) # Remove the first occurance of 22
print("After remove:", my_list)

After remove: [11, 33, 44, 22, 55]

pop(): removes and return the elementat a specified index

In [60]:
# Index based removal
my_list = [1,2,3]
popped_item = my_list.pop(1)
print("Popped item: ", popped_item)
print("After Pop: ", my_list)

Popped item:  2
After Pop:  [1, 3]

### del
- index based deleting

In [61]:
my_list = [1,2,3]
del my_list[1]
print("After del:", my_list)

After del: [1, 3]

### Checking membership in Python

In [64]:
my_list = [7,2,96]

if 2 in my_list:
    print(True)
else:
    print(False)

for i in my_list:
    print(i)

True
7
2
96

In [68]:
# Excecute the loop when value = 96

list = [1,2,96]
for i in list:
    if i == 96:
        print(i)

96

### List Manipulation Techniques

In [70]:
# Reverse th string
mylist = [3,2,1]
mylist.reverse()
print(mylist)

[1, 2, 3]

In [72]:
# Make a copy
mylist = [1,2,3]
copied_list = mylist.copy()

print("Copied List: ", copied_list)

Copied List:  [1, 2, 3]

In [74]:
# Counting Occurances
my_list = [1,2,3,4,5,23,3,3,4,4,2,3]
count_occur = my_list.count(3)
print(count_occur)

4

In [76]:
# Execute the loop, print those elements start with "c"

fruits = ["apple","banana","cherry", "cat","bed"]
for i in fruits:
    if i.startswith("c"):
        print(i)

cherry
cat