# List and Tuples

### Creating List
- Mutable
- denoted by square brackets [  ]

In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [5]:
# To check the datatype of variable
type(numbers)

list

### Create a Empty List

In [7]:
empty_list = []
print("Empty List:", empty_list)

Empty List: []

### Creating a list with Elements

In [25]:
numeric_list = [1,2,3,4]
mixed_list = [1,'two',3.0,[4,[1,2,3]]]

print("Numeric List:",numeric_list)
print("Mixed List:", mixed_list)

mixed_list[3][1][1] # Nested List Elements Access -- value = [1]
mixed_list[3][0]    # -- value = [4]
mixed_list[3][1][0] # Pick first element of 4rd INDEX

Numeric List: [1, 2, 3, 4]
Mixed List: [1, 'two', 3.0, [4, [1, 2, 3]]]

1

In [38]:
sentence = "Python is easy and fun."
print(sentence,type(sentence))

words = sentence.split() # split will work on Strings Functions Only
print(words,type(words))  

sentence2 = "Python-is-easy-and fun."
words = sentence2.split("-")
print(words,type(words))

joined_sentence = " ".join(words)
print("Joined Sentence: ", joined_sentence,type(joined_sentence))

print(words[0],words[3])

Python is easy and fun. <class 'str'>
['Python', 'is', 'easy', 'and', 'fun.'] <class 'list'>
['Python', 'is', 'easy', 'and fun.'] <class 'list'>
Joined Sentence:  Python is easy and fun. <class 'str'>
Python and fun.

### List is Mutable. Let's see

In [40]:
n_list = [1,2,3,4]

n_list[2] = 4.0
n_list[3] = "str"
print(n_list)

[1, 2, 4.0, 'str']

## Tuple
- Immutable
- denoted by round bracket (  )

In [45]:
fruits_tuple = ("apple", "banana","cherry")
print(fruits_tuple)  # Output: ('apple', 'banana', 'cherry')

my_tuple = (1,2,'three',4.0)
# my_tuple[2] = 'changed'
print(my_tuple,type(my_tuple))

('apple', 'banana', 'cherry')
(1, 2, 'three', 4.0) <class 'tuple'>

### Common List Operations

In [48]:
my_list = [1,2,3]
my_list.append(23) # Adds at the end
my_list.append(45)

print(my_list)

[1, 2, 3, 23, 45]

In [50]:
my_list = []
for i in range(5):
    my_list.append("try")

print(my_list,type(my_list))

['try', 'try', 'try', 'try', 'try'] <class 'list'>

### Extend: Adds element of another list to the end of the list

In [53]:
list1 = [1,2,3]
list2 = [4,5,1.0,2]

list1.extend(list2)
print("After extend:", list1)

After extend: [1, 2, 3, 4, 5, 1.0, 2]

Insert: Inserts an element at a specified position in the list.

In [54]:
my_list = [1,2,3]
my_list.insert(1,[66,77])
print("After insert:", my_list)

After insert: [1, [66, 77], 2, 3]

In [55]:
my_list[0] = 99
my_list

[99, [66, 77], 2, 3]

### Removal

In [59]:
# Element based removal
my_list = [11,22,33,44,22,55]
my_list.remove(22) # Remove the first occurance of 22
print("After remove:", my_list)

After remove: [11, 33, 44, 22, 55]

pop(): removes and return the elementat a specified index

In [60]:
# Index based removal
my_list = [1,2,3]
popped_item = my_list.pop(1)
print("Popped item: ", popped_item)
print("After Pop: ", my_list)

Popped item:  2
After Pop:  [1, 3]

### del
- index based deleting

In [61]:
my_list = [1,2,3]
del my_list[1]
print("After del:", my_list)

After del: [1, 3]

### Checking membership in Python

In [64]:
my_list = [7,2,96]

if 2 in my_list:
    print(True)
else:
    print(False)

for i in my_list:
    print(i)

True
7
2
96

In [68]:
# Excecute the loop when value = 96

list = [1,2,96]
for i in list:
    if i == 96:
        print(i)

96

### List Manipulation Techniques

In [70]:
# Reverse th string
mylist = [3,2,1]
mylist.reverse()
print(mylist)

[1, 2, 3]

In [72]:
# Make a copy
mylist = [1,2,3]
copied_list = mylist.copy()

print("Copied List: ", copied_list)

Copied List:  [1, 2, 3]

In [74]:
# Counting Occurances
my_list = [1,2,3,4,5,23,3,3,4,4,2,3]
count_occur = my_list.count(3)
print(count_occur)

4

In [76]:
# Execute the loop, print those elements start with "c"

fruits = ["apple","banana","cherry", "cat","bed"]
for i in fruits:
    if i.startswith("c"):
        print(i)

cherry
cat

In [82]:
a = 123
print(a,type(a))

123 <class 'int'>

In [83]:
a = [123]
print(a,type(a))

[123] <class 'list'>

In [85]:
a = (123,)
print(a,type(a))

(123,) <class 'tuple'>

In [90]:
# Using Add Operator
original_tuple = (1,2,3)
new_tuple = original_tuple + (3,4,5)
print(new_tuple)

(1, 2, 3, 3, 4, 5)

In [93]:
# Using Multiply Operator 
original_tuple = (1,2,3)
new_tuple = original_tuple * 3
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

* Lets apply for loop on Tuple

Iteration is a fundamental concept in programming that refers to

In [96]:
my_tuple = (12,25,34)

for i in my_tuple:
    if i == 25:
        print(i)

25

### Tuple Packing and Unpacking

In [107]:
# Packing
a = 1 ,2 ,'three'
print(a, type(a))

# Unpacking
a,b,c = a
print(a,b,c,type(a))

# a,b,c = a
# print(a,b,c,type(a))

(1, 2, 'three') <class 'tuple'>
1 2 three <class 'int'>

In [108]:
my_tuple = (1,2,3)
is_present = 2 in my_tuple
print("Is 2 present in the loop?",is_present)

Is 2 present in the loop? True

In [109]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1:4])

(2, 3, 4)

In [111]:
# Define Lists
list1 = [1,2,3]
list2 = [4,5]

# Define Tuples
tuple1 = ('a','b')
tuple2 = ('c','d')

print("Contatination of LIsts:", list1 + list2)
print("Concatination of Tuples:",tuple1 + tuple2)

Contatination of LIsts: [1, 2, 3, 4, 5]
Concatination of Tuples: ('a', 'b', 'c', 'd')

### Conversion between Tuple and List

In [114]:
my_list = [1,2,3]
my_tuple = tuple(my_list)
print(my_tuple,type(my_tuple))
print(my_list,type(my_list))

# another tuple
my_tuple = ('a','b','c')
mu_list = type(my_tuple)
print(my_tuple,type(my_tuple))
print(my_list,type(my_list))

(1, 2, 3) <class 'tuple'>
[1, 2, 3] <class 'list'>
('a', 'b', 'c') <class 'tuple'>
[1, 2, 3] <class 'list'>

### Creation of Dictionaries

* Dictionaries in python are Data Structures
* Syntax: dictionaties = {'key1':'value2', 'key2':'value2, 'key3':'value3',...}

In [117]:
# Basic Dictionary
student_info = {'name':'Alice','age':22, 'grade':1.2}

print(student_info['name'],     # Output:Alice
      student_info['age'],      # age : 22
      student_info['grade'])    # grade: 1.2

print(type(student_info))

Alice 22 1.2
<class 'dict'>

In [119]:
# Access grade 1.4
student_info = {'name':'Alice','age':22, 'grade':[1.2,1.4]}

print(student_info['grade'][1])    

print(type(student_info))

1.4
<class 'dict'>

### Dictionary with mixed datatypes

In [120]:
employee_details = {'name':'Bob','age':30,'department':'HR', 'it_Manager':True}

print(employee_details['name'],employee_details['age'],
      employee_details['department'],employee_details['it_Manager'])

Bob 30 HR True

* Empty Dictionary - They are often used as a placeholder when you expect to populate them later in your code

In [121]:
Empty_dict = {}

* Basic Operations in Dictionary

In [124]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
student_info['city'] = 45   # Add new key value pair

print(student_info)

student_info['city']='Lahore'
print(student_info)

{'name': 'Alice', 'Age': 24, 'grade': 'A', 'city': 45}
{'name': 'Alice', 'Age': 24, 'grade': 'A', 'city': 'Lahore'}

* Update - You can update a dictionary with the contents of another dictionary using the update() method

In [126]:
additional_info = {'city':'Newyork', 'Mark':95}
student_info.update(additional_info) # update a dictionary
print(student_info)
print(additional_info)

{'name': 'Alice', 'Age': 24, 'grade': 'A', 'city': 'Newyork', 'mark': 95, 'Mark': 95}
{'city': 'Newyork', 'Mark': 95}

* Removal in dictionary

In [132]:
additional_info = {'city':'Newyork', 'Mark':95}
removed_age = additional_info.pop('Mark') # remova element in a dictionary

print(student_info)
print(removed_age)
print(additional_info)

{'name': 'Alice', 'Age': 24, 'grade': 'A', 'city': 'Newyork', 'mark': 95, 'Mark': 95}
95
{'city': 'Newyork'}

In [133]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
removed_pair = student_info.popitem()

print(student_info)
print(removed_pair)

{'name': 'Alice', 'Age': 24}
('grade', 'A')

* del - allows you to delete the key-value pair from a dictionary

In [134]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
del student_info['grade']
print(student_info)

{'name': 'Alice', 'Age': 24}

### Checking Membership with 'in'  allows you to check if the key is present in the dictionary

In [137]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
is_age_present = 'Age' in student_info

print(student_info , is_age_present)

{'name': 'Alice', 'Age': 24, 'grade': 'A'} True

* The keys() - This method return an iterable view of keys in the dictionary

In [2]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
keys_student_info = student_info.keys()
print(keys_student_info,type(keys_student_info))
print("Keys in the dictionary:", list(keys_student_info))

dict_keys(['name', 'Age', 'grade']) <class 'dict_keys'>
Keys in the dictionary: ['name', 'Age', 'grade']

* The values() - This method return an iterable view of keys in the dictionary

In [3]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
values_student_info = student_info.values()
print(values_student_info,type(values_student_info))
print("Keys in the dictionary:", list(values_student_info))

dict_values(['Alice', 24, 'A']) <class 'dict_values'>
Keys in the dictionary: ['Alice', 24, 'A']

* The items() - This method return an iterable view of keys-value pair in the dictionary

In [9]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
items = student_info.items()
print(items, type(items))
print("Keys values in the dictionary:", list(items))

for i,j in student_info.items():
    print(i,j)

dict_items([('name', 'Alice'), ('Age', 24), ('grade', 'A')]) <class 'dict_items'>
Keys values in the dictionary: [('name', 'Alice'), ('Age', 24), ('grade', 'A')]
name Alice
Age 24
grade A

In [15]:
student_info = {'name':'Alice','Age':24,'grade':'A'}
sorted_dict = dict(sorted(student_info.items(), reverse=True))

print(student_info.items(),type(student_info.items()))
print(sorted_dict,type(sorted_dict))

dict_items([('name', 'Alice'), ('Age', 24), ('grade', 'A')]) <class 'dict_items'>
{'name': 'Alice', 'grade': 'A', 'Age': 24} <class 'dict'>

* Nested Dictionary - you can nest dictionaries by having a key in a dictionary refer to another dictionary

In [17]:
nested_dict = {'person':{'name':'Alice','age':25,'city':'Chicago'}}
print(nested_dict)

nested_dict = {'person':{'name':'Alice','age':25,'city':[45,56,[34,90]]}}
print(nested_dict['person']['city'][2][1])

{'person': {'name': 'Alice', 'age': 25, 'city': 'Chicago'}}
90

In [11]:
# Example:
y = 0
list1 = [23,532,54,63,65]
for i in list1:    
    y += i 
    
print(y)

737

* Modulus Operator

In [12]:
23 % 3

2

In [18]:
# Example: Check number is even and odd
num = int(input("Enter number: "))

if num % 2 == 0:
    print("Number is Even:",num)
else:
    print("Number is Odd:",num)

Number is Odd: 23

In [28]:
# Example: check number is float

number = 77.55
new_number = str(number)
if '.' in new_number:
    print('True')
else:
    print('False')

True

### Basic Set Creation

- Immutable datatype
- values will not be repeated
- denoted by curly brackets  { }

In [111]:
colors = {'red','green','blue','yellow'}
print(colors,type(colors))

{'blue', 'green', 'red', 'yellow'} <class 'set'>

### Typecasting [list] to {set}

In [2]:
fruits = set(['red','green','blue','yellow'])
print(fruits,type(fruits))

{'blue', 'green', 'red', 'yellow'} <class 'set'>

### Typecasting {set} to [list]

In [4]:
fruits = list({'red','green','blue','yellow'})
print(fruits,type(fruits))

['blue', 'green', 'red', 'yellow'] <class 'list'>

* Update() - Method adds element from another iterable (such as set, list or tuple)

In [5]:
my_set = {1,2,3,4,5}
set_to_update = {5,6,7}

my_set.update(set_to_update)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

* Add() = This function add single element in the set

In [8]:
my_set = {1,2,3,4,5}
set_to_update = {5,6,7}

my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 8}

* Remove() - Method to remove specific element from the set

In [13]:
my_set = {1,2,3,4,5}
set_to_update = {5,6,7}

my_set.remove(3)
print("Set after removing element 3: ",my_set)

Set after removing element 3:  {1, 2, 4, 5}

* Pop - Method to remove first element from the set and return the arbitary element

In [113]:
my_set = {1,2,3,4,5}
set_to_update = {5,6,7}

pop_element = my_set.pop()
print(my_set, "\n Pop Element: ",pop_element)

{2, 3, 4, 5}
 Pop Element:  1

  **In - Memebership Operator**
  - The membership operator in checks if a value exists within a sequence, like a list, string, or dictionary.

In [114]:
my_set = {1,2,3,4,5}

is_four_present = 4 in my_set
print("Is 4 present in the set: ", is_four_present)

Is 4 present in the set:  True

* Manipulating Sets
  
  - Union - '|'
  - Intersection - '&'

In [17]:
set1 = {1,2,3}
set2 = {3,4,5}

union_result = set1 | set2

print("Union of the set1 and set2: ", union_result)

Union of the set1 and set2:  {1, 2, 3, 4, 5}

In [18]:
set1 = {1,2,3}
set2 = {3,4,5}

intersection_result = set1 & set2

print("Intersection of the set1 and set2: ", intersection_result)

Intersection of the set1 and set2:  {3}

* Difference ( - ) 
  
  - resulting in a new set containing elements that are unique to the first set

In [19]:
set1 = {1,2,3}
set2 = {3,4,5}

difference = set1 - set2

print("Difference of the set1 and set2: ", difference)

Difference of the set1 and set2:  {1, 2}

### Common Operators in Dictionaries and sets

* Iterative over items

In [20]:
my_set = {1,2,3,4,5}

for i in my_set:
    print(i)

1
2
3
4
5

* Intersection

In [23]:
dict1 = {'a':1,'b':2,'c':3}
dict2 = {'b':4,'c':5,'d':6}

common_keys = dict1.keys() & dict2.keys()

print("Common keys: ",common_keys)

Common keys:  {'b', 'c'}

In [110]:
string = "Jan = January ; Feb = February ; Mar = March"

string_type = string.split(';')
print(string_type, type(string_type))

join_string = "".join(string_type)
print(join_string)

['Jan = January ', ' Feb = February ', ' Mar = March'] <class 'list'>
Jan = January  Feb = February  Mar = March

In [39]:
# Problem: Rotate the list values two times
list1 = [1,2,3,4,5]
k  = 2 # value of rotation [4,5,1,2,3]

# Solution: Rotate the list values two times
# This is also term as Slicing

print(list1[-k:])  # 
print(list1[:-k])
print(list1[-k:] + list1[:-k])
print(list1[-2:] + list1[:-2])

[4, 5]
[1, 2, 3]
[4, 5, 1, 2, 3]
[4, 5, 1, 2, 3]

### List Comprehension
 - We use when we want output in LIST
 - when we have one condition, so you can use. This is a Good Technique

In [41]:
# way 1
list1 = []
for x in range(5):
    list1.append(x*2)
print(list1)

# way 2
squares = [x*2 for x in range(5)]
print(squares)

[0, 2, 4, 6, 8]
[0, 1, 4, 9, 16]

* for loop in List Comprehension

In [49]:
odd_numbers = [x for x in range(10) if x%2 != 0]
print(odd_numbers)

# if in list comprehension
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

# if else in list comprehension [square on Even values and cube on Odd values]
if_else_LC = [x**2 if x % 2 == 0 else x**3 for x in range(6) ]
print(if_else_LC)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
[0, 1, 4, 27, 16, 125]

### Filtering and Transformation with Nested List Comprehension

In [72]:
empty_list = []
nested_matrix = [[1,29,3],[46,5,66],[7,80,9]]

for i in nested_matrix:
    for j in i:
        empty_list.append(j)

print(empty_list)


# same work in list comprehension
filtered_squared = [j for i in nested_matrix for j in i]
print(filtered_squared)

filtered_squared = [j**2 for i in nested_matrix for j in i if j % 2 == 0]
print(filtered_squared)

[1, 29, 3, 46, 5, 66, 7, 80, 9]
[1, 29, 3, 46, 5, 66, 7, 80, 9]
[2116, 4356, 6400]

### Dictionary Comprehension

In [73]:
square_dict = {x:x**2 for x in range(1,6)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [75]:
square_dict = {}

# for x in range(1,6):
#     x:x**2 

for x in range(1,6):
    i = x
    j = x**2 
    square_dict[x] = x**2
    
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
words = ['apple','banana','orange']
word_length = {word:len(word) for word in words if len(word)==6}
print(word_length)

# empty_dict = {}
# for word in words:
#     if len(word) == 6:
#         empty_list[word] = len(word)

# print(empty_dict)

{'banana': 6, 'orange': 6}

In [85]:
# Make a dictionary. {key:value}
keys = ['name','age','city']
values = ['Alice',25,'Newyork']

# By using simple Loop
Empty_dict = {}
for i in range(len(keys)):
    Empty_dict[keys[i]] = values[i]

print(Empty_dict)  

# By Dictionary Comprehension
dict_comp = {keys[i]:values[i] for i in range(len(keys))}
print(dict_comp)

{'name': 'Alice', 'age': 25, 'city': 'Newyork'}
{'name': 'Alice', 'age': 25, 'city': 'Newyork'}

In [1]:
list1 = ['Name','age','gender']
list2 = ['Zainab','7','Female']
Dict_Comprehansion = {list1[i]:list2[i] for i in range(len(list1))}

print(Dict_Comprehansion)

{'Name': 'Zainab', 'age': '7', 'gender': 'Female'}

### Split Function in Dictionary

In [107]:
string = "Jan = January ; Feb = February ; Mar = March"

# string_type = string.split(';')
# print(string_type, type(string_type))

# Dictionary1 = dict(substring.split('=') for  substring in string.split(';'))
# print(Dictionary1)

# Dictionary2 = [substring.split('=') for  substring in string.split(';')]
# print(Dictionary2)

# dictionary = {}
# for substring in string.split(";"):
#     print(substring.split('='))
#     key = substring.split('=')[0]
#     values = substring.split('=')[1]
#     dictionary[key] = values

# dictionary

emp_dict = {}
print("")
print(string,type(string))
for i in string.split(';'):
    key = i.split('=')[0]
    values = i.split("=")[1]
    emp_dict[key] = values

emp_dict

Jan = January ; Feb = February ; Mar = March <class 'str'>

{'Jan ': ' January ', ' Feb ': ' February ', ' Mar ': ' March'}