<h2 style="font-family: 'poppins'; font-weight: bold; color: Green;">üë®‚ÄçüíªAuthor: Sobia Alamgir</h2>

[![GitHub](https://img.shields.io/badge/GitHub-Profile-blue?style=for-the-badge&logo=github)](https://github.com/sobiahashmi) 
[![Kaggle](https://img.shields.io/badge/Kaggle-Profile-blue?style=for-the-badge&logo=kaggle)](https://www.kaggle.com/sobiahashmi) 
[![LinkedIn](https://img.shields.io/badge/LinkedIn-Profile-blue?style=for-the-badge&logo=linkedin)](https://www.linkedin.com/in/sobia-alamgir-a027b939/)  


[![Twitter/X](https://img.shields.io/badge/Twitter-Profile-blue?style=for-the-badge&logo=twitter)](https://x.com/sobiahashmi9) 
[![Email](https://img.shields.io/badge/Email-Contact%20Me-red?style=for-the-badge&logo=email)](mailto:sobia.hashmi454@gmail.com)

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load dataset
df = pd.read_csv('../BIA_CODES/Datasets/world_population.csv')
df.head(10)

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,India,1425775850,17.5%,14 Apr 2023,UN projection[89]
1,China,1409670000,17.3%,17 Jan 2024,National annual estimate[90]
2,United States,337072024,4.14%,23 Oct 2024,National population clock[91]
3,Indonesia,278696200,3.42%,1 Jul 2023,National annual estimate[92]
4,Pakistan,229488994,2.82%,1 Jul 2022,UN projection[93]
5,Nigeria,216746934,2.66%,1 Jul 2022,UN projection[93]
6,Brazil,218325829,2.68%,23 Oct 2024,National population clock[94]
7,Bangladesh,168220000,2.07%,1 Jul 2020,Annual Population Estimate[95]
8,Russia,147190000,1.81%,1 Oct 2021,2021 preliminary census results[96]
9,Mexico,128271248,1.58%,31 Mar 2022,NaN

### **1. Composition:**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country / Dependency                          10 non-null     object
 1   Population                                    10 non-null     int64
 2   % of world                                    10 non-null     object
 3   Date                                          10 non-null     object
 4   Source (official or from the United Nations)  9 non-null      object
dtypes: int64(1), object(4)
memory usage: 532.0+ bytes

In [4]:
df.shape

(10, 5)

In [5]:
df.columns

Index(['Country / Dependency', 'Population', '% of world', 'Date',
       'Source (official or from the United Nations)'],
      dtype='object')

In [6]:
# Remove decimals and shows commas for thousands
#pd.options.display.float_format = '{:, .0f}'.format

# df['Population'] = df['Population'].apply(lambda x: f'{x:,.0f}')

In [7]:
df['Population']

0    1425775850
1    1409670000
2     337072024
3     278696200
4     229488994
5     216746934
6     218325829
7     168220000
8     147190000
9     128271248
Name: Population, dtype: int64

In [13]:
round(df.isnull().sum() / len(df) * 100,2).sort_values(ascending=False)

Source (official or from the United Nations)    10.0
Country / Dependency                             0.0
Population                                       0.0
% of world                                       0.0
Date                                             0.0
dtype: float64

### **2. Distribution:**
 - How's your data looks alike

In [ ]:
# Remove ALL rows with missing values
# df.dropna()

In [9]:
# Statistical Summary of Numerical columns
df.describe()

         Population
count  1.000000e+01
mean   4.559457e+08
std    5.105724e+08
min    1.282712e+08
25%    1.803517e+08
50%    2.239074e+08
75%    3.224781e+08
max    1.425776e+09

In [10]:
# Statistical Summary of Categorical Columns
df.describe(include='O')

,Country / Dependency,% of world,Date,Source (official or from the United Nations)
count,10,10,10,9
unique,10,10,8,8
top,India,17.5%,23 Oct 2024,UN projection[93]
freq,1,1,2,2