
<div style="color:white;display:fill;border-radius:8px;font-size:200%; letter-spacing:1.0px;"><p style="padding: 5px;color:white;text-align:left;"><b><span style='color:#fc6603'>Author: Sobia Alamgir</span></b></p></div>

<div style="text-align: left;">
    <table>
        <tr>
            <td><a href="https://www.linkedin.com/in/sobia-alamgir-a027b939/"><img src="https://img.shields.io/badge/LinkedIn-Profile-blue?style=for-the-badge&logo=linkedin" alt="LinkedIn"/></a></td>
            <td><a href="mailto:sobia.hashmi454@gmail.com"><img src="https://img.shields.io/badge/Gmail-Profile-red?style=for-the-badge&logo=gmail" alt="Gmail"/></a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/sobiahashmi"><img src="https://img.shields.io/badge/GitHub-Profile-green?style=for-the-badge&logo=github" alt="GitHub"/></a></td>
            <td><a href="https://x.com/sobiahashmi9"><img src="https://img.shields.io/badge/Twitter-Profile-blue?style=for-the-badge&logo=twitter" alt="Twitter"/></a></td>
        </tr>
        <tr>
            <td><a href="https://www.kaggle.com/sobiahashmi"><img src="https://img.shields.io/badge/Kaggle-Profile-orange?style=for-the-badge&logo=kaggle" alt="Kaggle"/></a></td>

       
</div>


<a id="13"></a>
<h1 style="background-color:#435420;font-family:newtimeroman;font-size:300%;text-align:center;border-radius: 15px 50px;color:#FF9900;">Multiple Linear Regression​</h1>
<figcaption style="text-align: center;">
    <strong>
    </strong>
</figcaption>



```Multiple Linear Regression is a statistical technique used to model the relationship between a dependent variable (target) and two or more independent variables (predictors) by fitting a linear equation. The goal is to find the best-fitting line (or hyperplane) that predicts the target variable based on the given input features.```

### Step-1: Import Necessory Libraries

In [1]:
# import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

### Step-2: Load Libraries

In [99]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [100]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [101]:
df['hotwaterheating'].unique()

array(['no', 'yes'], dtype=object)

In [102]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

* Insights: There is no NULL values in the dataset

In [103]:
# Statistical Analyses
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [104]:
# Drop NULL records
df.dropna(inplace=True)

In [13]:
df.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,True,False,False,False,True,True,False,False
1,12250000,8960,4,4,4,3,True,False,False,False,True,False,False,False
2,12250000,9960,3,2,2,2,True,False,True,False,False,True,True,False
3,12215000,7500,4,2,2,3,True,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,True,True,True,False,True,False,False,False

In [24]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [105]:
# convert categorical columns in Numeric using one-hot encoding
df = pd.get_dummies(df,columns=['mainroad', 'guestroom','basement','hotwaterheating',
                                'airconditioning','prefarea','furnishingstatus'],drop_first = True)

In [106]:
df.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,True,False,False,False,True,True,False,False
1,12250000,8960,4,4,4,3,True,False,False,False,True,False,False,False
2,12250000,9960,3,2,2,2,True,False,True,False,False,True,True,False
3,12215000,7500,4,2,2,3,True,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,True,True,True,False,True,False,False,False

In [107]:
df.dtypes

price                              int64
area                               int64
bedrooms                           int64
bathrooms                          int64
stories                            int64
parking                            int64
mainroad_yes                        bool
guestroom_yes                       bool
basement_yes                        bool
hotwaterheating_yes                 bool
airconditioning_yes                 bool
prefarea_yes                        bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
dtype: object

In [ ]:
# Define the target and input features. There are multiple ways.

# First way
# X = [[df.iloc[:,1:14]]]

# Second way "best way"
X = df.drop('price', axis = 1)
y = df['price']

# X # Price is drop just for 'X' variable, bcz inplace is not True

In [111]:
# check length of both independent and dependent records
print(len(X))
print(len(df['price']))

len(X),len(df['price'])

545
545

(545, 545)

### Step-5 : Data Splitting

In [112]:
# split
X_train,X_test,y_train,y_test = train_test_split(X , y , test_size=0.2 , random_state = 42)
print(len(X_train),len(X_test),len(y_train),len(y_test))

436 109 436 109

### Step-6 : Linear Regression Model

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

### Step-7 : Model Prediction

In [81]:
y_predict = model.predict(X_test)

### Step-8 : Model Evaluation

In [113]:
MSE = mean_squared_error(y_test , y_predict)
print('Mean Square Error:', MSE)

r_square = r2_score(y_test,y_predict)
print("r square:", r_square)

Mean Square Error: 1754318687330.6643
r square: 0.6529242642153184

* Insights: Accuracy of the model is 65%, input variable shows critical relationship so will try with some other model. Stay with us.

### Step-9 : Check dimensions

In [114]:
print(X_test.ndim)
print(y_test.ndim)
print(y_predict.ndim)

2
1
1

In [85]:
# Flatten is not working here
#X_test = np.array(X_test).flatten()
X_test.ndim

2

In [115]:
print(len(X_test)) # All columns except price i.e. [Dependent variable]
print(len(y_test)) # price
print(len(y_predict)) # predicted price

109
109
109

In [116]:
print(type(X_test))
print(type(y_test))
print(type(y_predict))

print(list(X_test))
print(list(y_test))
print(list(y_predict))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'mainroad_yes', 'guestroom_yes', 'basement_yes', 'hotwaterheating_yes', 'airconditioning_yes', 'prefarea_yes', 'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished']
[4060000, 6650000, 3710000, 6440000, 2800000, 4900000, 5250000, 4543000, 2450000, 3353000, 10150000, 2660000, 3360000, 3360000, 2275000, 2660000, 2660000, 7350000, 2940000, 2870000, 6720000, 5425000, 1890000, 5250000, 4193000, 12250000, 3080000, 5110000, 9800000, 2520000, 6790000, 3500000, 6650000, 2940000, 3325000, 4200000, 4900000, 3290000, 3500000, 2380000, 5495000, 3675000, 6650000, 4907000, 3150000, 4480000, 6580000, 5740000, 3003000, 1820000, 8400000, 2450000, 4270000, 4007500, 3234000, 1750000, 9800000, 2100000, 4340000, 3045000, 3850000, 3500000, 4753000, 3080000, 4550000, 6510000, 6685000, 5110000, 4550000, 6650000, 3640000, 5600000, 3780000, 6615000, 3220000, 6650000, 4690000, 4830000, 6860000, 2233000, 7035000, 4165000, 6195000, 6510000, 1890000, 8190000, 2660000, 4193000, 13300000, 9681000, 4340000, 8645000, 3703000, 5145000, 6440000, 5950000, 5810000, 5740000, 6230000, 5600000, 3010000, 8890000, 4900000, 5530000, 9100000, 3773000, 7910000, 7350000, 5530000]
[5164653.900339672, 7224722.298021666, 3109863.2424033796, 4612075.327225596, 3294646.2572595547, 3532275.0955655845, 5611774.568364757, 6368145.987327182, 2722856.9568998525, 2629405.6158578238, 9617039.503155801, 2798087.304478878, 3171096.768470633, 3394639.091255277, 3681088.6542427493, 5263187.7462148545, 3035963.4761238433, 4786122.800400503, 4349551.9200572, 3572362.099304515, 5774875.213956491, 5886993.579198833, 2730836.19518458, 4727316.4732363485, 5244847.527168005, 7555324.216056034, 3220790.8468026817, 5191898.799342065, 8143726.910097853, 3398814.098250347, 6490693.050279249, 3315105.907478097, 6708457.367613257, 4201738.2107167635, 3557571.067351859, 5836974.50478626, 4808660.674484749, 4362878.7361326115, 3191242.9570150757, 4596554.932252384, 4566042.860484109, 3517779.52374148, 7205844.793658354, 3983597.2786110267, 3749338.7027105624, 4274731.091258953, 6757442.10783741, 4037320.436658511, 3769334.9039712623, 3417627.443771559, 7268416.676446108, 2802534.35431384, 4341750.61420452, 4516422.153456417, 3679997.6503784675, 2678959.0648115166, 7498029.177824583, 2920366.454931666, 4239582.059601811, 2766467.484670331, 4841309.859332722, 3584359.5601492217, 5142140.848975794, 4221869.209962629, 4698408.50824081, 4662380.985643122, 7177841.5121642435, 3452198.913837596, 5902436.9136141185, 6198094.318228124, 4773218.996890771, 5178933.325856978, 4490410.961065599, 7968737.415675145, 3519394.9479219457, 5501905.049095543, 3947055.1557139494, 4714056.367079508, 4792291.267643814, 4250596.746593776, 7718149.193573501, 4053241.1177575774, 6453918.607577256, 5355571.586802789, 2755188.2917526886, 6796008.097933598, 2607277.381763313, 3679738.8576198723, 7968276.12638738, 8078480.595008164, 3266213.7730970653, 5897888.5303104175, 3569461.0743918563, 3868964.9803252034, 7584429.531248918, 4740586.437716917, 5139372.690322534, 6423485.102286017, 4914078.82258489, 5982087.312893159, 3855027.3219428053, 6420308.272823645, 3749108.5131482864, 5998642.372044324, 4973331.100292527, 4336650.868963843, 7059062.722748415, 6398940.868319864, 6363889.853126444]

In [117]:
df2 = pd.DataFrame({"y_test":y_test , "Price_Predicted":y_predict})
df2

      y_test  Price_Predicted
316  4060000     5.164654e+06
77   6650000     7.224722e+06
360  3710000     3.109863e+06
90   6440000     4.612075e+06
493  2800000     3.294646e+06
..       ...              ...
15   9100000     4.973331e+06
357  3773000     4.336651e+06
39   7910000     7.059063e+06
54   7350000     6.398941e+06
155  5530000     6.363890e+06

[109 rows x 2 columns]

* Let's display 20% test data and comparision of both `Test Price value` and `Predicted Price value` in a dataframe

In [91]:
df = X_test
X_test['y_predict'] = y_predict
df['prices'] = y_test
X_test

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished,y_predict,prices
316,5900,4,2,2,1,False,False,True,False,False,False,False,True,5.164654e+06,4060000
77,6500,3,2,3,0,True,False,False,False,True,True,False,False,7.224722e+06,6650000
360,4040,2,1,1,0,True,False,False,False,False,False,True,False,3.109863e+06,3710000
90,5000,3,1,2,0,True,False,False,False,True,False,True,False,4.612075e+06,6440000
493,3960,3,1,1,0,True,False,False,False,False,False,False,False,3.294646e+06,2800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,6000,4,1,2,2,True,False,True,False,False,False,True,False,4.973331e+06,9100000
357,6930,4,1,2,1,False,False,False,False,False,False,False,False,4.336651e+06,3773000
39,6000,4,2,4,1,True,False,False,False,True,False,True,False,7.059063e+06,7910000
54,6000,3,2,2,1,True,True,False,False,True,False,True,False,6.398941e+06,7350000
155,6100,3,2,1,2,True,False,True,False,False,True,False,False,6.363890e+06,5530000

<a id="13"></a>
<h1 style="background-color:#435420;font-family:newtimeroman;font-size:300%;text-align:center;border-radius: 15px 50px;color:#FF9900;">Thanks For Reading My Notebook</h1>
<figcaption style="text-align: center;">
    <strong>
    </strong>
</figcaption>