# Creation of Dictionaries

### Dictionaries in Python are data structures that store key-value pairs, allowing you to access values by their associated keys
### Syntax: my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

### Basic Disctionary

In [1]:
# Creating a dictionary named student_info
student_info = {'name': 'Alice', 
                'age': 20, 
                'grade': [1.2, 1.4]}

print(student_info['name'])  # Output: Alice
print(student_info['age'])   # Output: 20
print(student_info['grade'][1]) # Output: A

print(type(student_info))

Alice
20
1.4
<class 'dict'>

### Dictionary with Mixed Data Types

In [4]:
# Creating a dictionary named employee_details
employee_details = {'name': 'Bob', 
                    'age': 30, 
                    'department': 'HR', 
                    'is_manager': True}
print(employee_details['name'])        # Output: Bob
print(employee_details['age'])         # Output: 30
print(employee_details['department'])  # Output: HR
print(employee_details['is_manager'])  # Output: True

Bob
30
HR
True

### Emty Dictionary - They are often used as placeholders when you expect to populate them later in your code

In [5]:
# Creating an empty dictionary
empty_dict = {}

# Basic Operations on Dictionaries

### A) Addition

### student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}Â # Example Dictionary

### Add a Key-Value Pair - You can add a new key-value pair to a dictionary by assigning a value to a new key

In [6]:
student_info = {'name': 'Alice', 
                'age': 22, 
                'grade': 'A'}  # Example Dictionary

student_info['city'] = 45  # Add new key-value pair
print(student_info)
# Output: {'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'New York'}
student_info['city'] = 'Lahore'
print(student_info)

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 45}
{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'Lahore'}

### Update - You can update a dictionary with the contents of another dictionary using the update() method:

In [7]:
additional_info = {'city': 'New York', 'marks': 95}
student_info.update(additional_info) #update a dictionary
print(student_info)
print(additional_info)
# Output: {'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'New York', 'marks': 95}

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'New York', 'marks': 95}
{'city': 'New York', 'marks': 95}

### B) Removal

### The pop()- This method removes a key from the dictionary and returns its associated value. Here's how it works:

In [2]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
removed_age = student_info.pop('age')  # Removes 'age' key and returns its value
print(removed_age)  # Output: 22
print(student_info)  # Output: {'name': 'Alice', 'grade': 'A'}

22
{'name': 'Alice', 'grade': 'A'}

### The popitem() - This method removes and returns the last key-value pair from the dictionary as a tuple.

In [8]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
removed_pair = student_info.popitem()  # Removes and returns the last key-value pair
print(removed_pair, type(removed_pair))  # Output: ('grade', 'A')
print(student_info)  # Output: {'name': 'Alice', 'age': 22}

('grade', 'A') <class 'tuple'>
{'name': 'Alice', 'age': 22}

### The del - This statement allows you to delete a key-value pair from a dictionary.

In [14]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
del student_info['grade']  # Removes the 'grade' key and its associated value
print(student_info)  # Output: {'name': 'Alice', 'age': 22}

{'name': 'Alice', 'age': 22}

### Checking Membership with in:The in keyword allows you to check if a key is present in a dictionary:

In [4]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
is_age_present = 'name' in student_info  # Checking if 'age' is a key in the dictionary
print("Is 'age' present in the dictionary?", is_age_present)
# Output: Is 'age' present in the dictionary? True

Is 'age' present in the dictionary? True

### The keys() - This method returns an iterable view of keys in the dictionary:

In [7]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
keys = student_info.keys()  # Returns an iterable view of keys
print(keys, type(keys))
print("Keys in the dictionary:", list(keys))  # Converting iterable view to a list for printing
# Output: Keys in the dictionary: ['name', 'age', 'grade']

dict_keys(['name', 'age', 'grade']) <class 'dict_keys'>
Keys in the dictionary: ['name', 'age', 'grade']

### The values() - This method returns an iterable view of values in the dictionary:

In [5]:
student_info = {'name': 'atif', 'age': 22, 'grade': 'A'}  # Example Dictionary
values = student_info.values()  # Returns an iterable view of values
print("Values in the dictionary:", list(values))  # Converting iterable view to a list for printing
# Output: Values in the dictionary: ['Alice', 22, 'A']

Values in the dictionary: ['atif', 22, 'A']

In [12]:
def create_dict(key,value):
    return {key : value}


new_dict = create_dict('name','Alice')
print(new_dict, type(new_dict))

{'name': 'Alice'} <class 'dict'>

### The items() - This method returns an iterable view of key-value associations (as tuples) in the dictionary

In [10]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
items = student_info.items()  # Returns an iterable view of key-value associations
print(type(items))
print("Key-Value Associations in the dictionary:", list(items))  # Converting iterable view to a list for printing
# Output: Key-Value Associations in the dictionary: [('name', 'Alice'), ('age', 22), ('grade', 'A')]

for k,v in student_info.items():
    print(k,v)

<class 'dict_items'>
Key-Value Associations in the dictionary: [('name', 'Alice'), ('age', 22), ('grade', 'A')]
name Alice
age 22
grade A

# Manipulating Dictionaries

### Sorting Dictionary - Sorting of data reduce the complexity of the data and make queries faster and more efficient.

### Sorting Dictionaries by Keys:
### To sort a dictionary by keys, you can use the sorted() function along with the items() method to sort the dictionary items (key-value pairs) and then construct a new dictionary from the sorted items:

In [13]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
sorted_dict = dict(sorted(student_info.items(), reverse=True))
print(sorted_dict)
# Output: {'age': 22, 'grade': 'A', 'name': 'Alice'}

{'name': 'Alice', 'grade': 'A', 'age': 22}

### Copying Dictionaries - To create a copy of a dictionary, you can use the copy() method

In [20]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
student_info_copy = student_info.copy()
print(student_info_copy)
# Output: {'name': 'Alice', 'age': 22, 'grade': 'A'}

{'name': 'Alice', 'age': 22, 'grade': 'A'}

### Nesting Dictionaries - You can nest dictionaries by having a key in a dictionary refer to another dictionary:

In [20]:
nested_dict = {'person': {'name': 'Alice', 'age': 25, 'city': [45, 56, [34, 90]]}}
# print(nested_dict)
# Output: {'person': {'name': 'Alice', 'age': 25, 'city': 'Chicago'}}
nested_dict['person']['city'][2][0]

34

In [21]:
list1 = [23,532,54,63,65]
y = 0
for i in list1:
    y += i
print(y)

737

In [23]:
number = 23
if number % 2 == 0:
    print(number, "is even")
else:
    print(number, "is odd")

23 is odd

In [26]:
number = 15
# new_number = str(number)
if '.' in str(number):
    print('true')
else:
    print('false')

false

# Dictionary Comprehension

### Concise Creation of Dictionaries:Dictionary comprehension is a concise and elegant way to create dictionaries in Python.

### Syntax for Dictionary Comprehension:
### The general syntax is {key_expression: value_expression for item in iterable}.

### Example

### Creating a dictionary with numbers as keysÂ and their squares as values using dictionary comprehension

In [23]:
# Creating a dictionary with numbers as keys and their squares as values using dictionary comprehension
square_dict = {x: x**2 for x in range(1, 6)}  

# Printing the resulting dictionary
print(square_dict)

square_dict = {}
for x in range(1,6):
  square_dict[x] = x**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Creating a dictionary with numbersÂ as keys and their cubes as values using dictionary comprehension

In [24]:
# Creating a dictionary with numbers as keys and their cubes as values using dictionary comprehension
cube_dict = {num: num**3 for num in range(1, 6)}

# Printing the resulting dictionary
print(cube_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Using dictionary comprehension to create a dictionary mapping words to their lengths

In [17]:
# Using dictionary comprehension to create a dictionary mapping words to their lengths
words = ['apple', 'banana', 'orange']
word_lengths = {word: len(word) for word in words if len(word) == 6}
print(word_lengths)

{'banana': 6, 'orange': 6}

### Using dictionary comprehension to create a dictionary from two lists

In [12]:
# Using dictionary comprehension to create a dictionary from two lists
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

dict = {}
for i in range(len(keys)):
    dict[keys[i]] = values[i]
print(dict)

# Creating a dictionary where elements from the 'keys' list are keys 
# and elements from the 'values' list are values, using dictionary comprehension
info_dict = {keys[i]: values[i] for i in range(len(keys))}

# Printing the resulting dictionary
print(info_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'New York'}

# Creation of sets

### A set in Python is an unordered collection of unique elements.

### The syntax for creating sets in Python is by using curly braces {} or the set() constructor.

### Basic Set Creation

In [27]:
# Basic set creation with curly braces
colors = {'red', 'green', 'blue', 'yellow'}
print(colors)

{'yellow', 'green', 'blue', 'red'}

### Set with Mixed Data Types

In [28]:
# Set with mixed data types
mixed_set = {1, 'apple', 3.14, (1, 2, 3)}
print(mixed_set)

{3.14, 1, 'apple', (1, 2, 3)}

### Using set() Constructor

In [7]:
# Creating a set using the set() constructor with a list
fruits_set = set(['apple', 'banana', 'orange'])
print(fruits_set)

{'orange', 'banana', 'apple'}

# Operations on Sets

### A) Addition
### my_set = {1, 2, 3, 4, 5}

### Update - The update() method adds elements from another iterable (such as a set, list, or tuple) to the set:

In [32]:
# Initial set
my_set = {1, 2, 3, 4, 5}

# Set to update from
set_to_update = {5, 6, 7}

# Using the update() method to add elements from set_to_update to my_set
my_set.update(set_to_update)

# Printing the resulting set
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

### Add - The add() method adds a single element to the set:

In [33]:
# Initial set
my_set = {1, 2, 3, 4, 5}

# Adding a new element (8) to the set using the add() method
my_set.add(8)

# Printing the resulting set
print(my_set)

{1, 2, 3, 4, 5, 8}

### B) Removal

### Remove - method to remove a specific element from a set.

In [34]:
# Initial set
my_set = {1, 2, 3, 4, 5}

# Removing the element '3' from the set using the remove method
# The remove() method removes a specified element from the set.
my_set.remove(3)

# Printing the set after removal
print("Set after removing element '3':", my_set)

Set after removing element '3': {1, 2, 4, 5}

### Pop - method to remove and return an arbitrary element from a set.

In [8]:
# Initial set
my_set = {1, 2, 3, 4, 5}

# Popping an arbitrary element from the set using the pop method
# The pop() method removes and returns an arbitrary element from the set.
popped_element = my_set.pop()

# Printing the popped element and the set after popping
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

### C) Additional Operations

### Checking Membership - The 'in' operator checks if a specified element is present in the set.

In [36]:
# Initial set
my_set = {1, 2, 3, 4, 5}

# Checking if an element (4) is present in the set using the 'in' operator
# The 'in' operator checks if a specified element is present in the set.
is_four_present = 4 in my_set

# Printing the result
print("Is 4 present in the set?", is_four_present)

Is 4 present in the set? True

# Manipulating SetsÂ

### Set operations refer to various mathematical operations performed on sets

### Union (|): Combines elements from two sets, resulting in a new set containing all unique elements from both sets.

In [37]:
# Two sets for demonstration
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union operation using the '|' operator
# The '|' operator computes the union of two sets, which is a set containing all distinct elements from both sets.
union_result = set1 | set2  # Result: {1, 2, 3, 4, 5}

# Printing the result
print("Union of set1 and set2:", union_result)

Union of set1 and set2: {1, 2, 3, 4, 5}

### Intersection (&): Computes the set of elements that are common to both sets, resulting in a new set containing only elements that exist in both sets.

In [9]:
# Two sets for demonstration
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(type(set2))

# Intersection operation using the '&' operator
# The '&' operator computes the intersection of two sets, resulting in a new set containing elements that are common to both sets.
intersection_result = set1 & set2  # Result: {3}

# Printing the result
print("Intersection of set1 and set2:", intersection_result)

<class 'set'>
Intersection of set1 and set2: set()

### Difference (-): Computes the set of elements that are in one set but not the other, resulting in a new set containing elements that are unique to the first set.

In [41]:
# Two sets for demonstration
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Difference operation using the '-' operator
# The '-' operator computes the set of elements that are in set1 but not in set2, resulting in a new set containing elements that are unique to set1.
difference_result = set1 - set2  # Result: {1, 2}

# Printing the result
print("Difference between set1 and set2:", difference_result)

Difference between set1 and set2: {1, 2}

### Checking Membership - in operator to check for the presence of an element in a set.

In [42]:
# Define the fruit_set
fruit_set = {'apple', 'banana', 'orange'}

# Checking if the element 'banana' is present in the set fruit_set
# Returns True if 'banana' is in the set, otherwise returns False
is_present = 'banana' in fruit_set

# Printing the result
print("Is 'banana' present in the set?", is_present)

Is 'banana' present in the set? True

In [23]:
m = {'m1':78,
     'm2':67,
     'm3':56,
     'm4':84,
     'm5':23}

max_val = max(m.values())

for k in m:
    if m[k] == max_val:
        print(k)
        print(m[k])

m4
84

## Common Operations on Both Dictionaries and Sets

### Dictionary : Iterating Over Items

In [43]:
# Example dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Iterating over items in the dictionary using the items() method
# The items() method returns a view object that displays a list of a dictionary's key-value pairs as tuples.
# In each iteration, 'key' and 'value' represent the key-value pair of the dictionary.
for key, value in my_dict.items():
    print(key, value)

name Alice
age 25
city New York

### Set : Iterating Over Items

In [44]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Iterating over elements in the set using a for loop
# In each iteration, 'element' represents an element of the set.
for element in my_set:
    print(element)

1
2
3
4
5

### Checking Membership

In [45]:
# Checking if 'key' is a key in the dictionary my_dict
# Returns True if 'key' is a key in the dictionary, otherwise returns False
is_present = 'key' in my_dict

# Checking if 'element' is in the set my_set
# Returns True if 'element' is in the set, otherwise returns False
is_present_set = 'element' in my_set

# Printing the results
print("Is 'key' present in the dictionary?", is_present)
print("Is 'element' present in the set?", is_present_set)

Is 'key' present in the dictionary? False
Is 'element' present in the set? False

### Intersection and Differences

 ### Intersection identifies what is common, while differences reveal what is unique to each set or dictionary. These operations are useful for comparing and analyzing data structures, identifying shared or unique elements, and performing various set-based operations.

### Dictionaries (Keys)

In [11]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Dictionaries (Keys):
# Intersection of keys between two dictionaries
common_keys = dict1.keys() & dict2.keys()

print("Common keys between dict1 and dict2:", common_keys)

Common keys between dict1 and dict2: {'b', 'c'}

### Sets

In [49]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Sets:
# Common elements between two sets
set_intersection = set1 & set2
print("Common elements between set1 and set2:", set_intersection)

# Elements in set1 but not in set2
set_difference = set1 - set2
print("Elements in set1 but not in set2:", set_difference)

Common elements between set1 and set2: {4, 5}
Elements in set1 but not in set2: {1, 2, 3}

In [ ]:
list_1 = ['foo', 'que','bar','not','empty','foo','que','next']

In [17]:
string = "Jan = January ; Feb = February ; Mar = March"

string_type = string.split(';')
print(string_type)

dictionary = dict(substring.split('=') for substring in string.split(';'))
dictionary

['Jan = January ', ' Feb = February ', ' Mar = March']

[['Jan ', ' January '], [' Feb ', ' February '], [' Mar ', ' March']]

In [26]:
dictionary = {}
for substring in string.split(';'):
    print(substring.split('='))
    key = substring.split('=')[0]
    value = substring.split('=')[1]
    dictionary[key] = value
dictionary

['Jan ', ' January ']
[' Feb ', ' February ']
[' Mar ', ' March']

{'Jan ': ' January ', ' Feb ': ' February ', ' Mar ': ' March'}