<div style="color:white;display:fill;border-radius:8px;font-size:200%; letter-spacing:1.0px;"><p style="padding: 5px;color:white;text-align:left;"><b><span style='color:#fc6603'>Social Media Profiles</span></b></p></div>

<div style="text-align: left;">
    <table>
        <tr>
            <td><a href="https://www.linkedin.com/in/sobia-alamgir-a027b939/"><img src="https://img.shields.io/badge/LinkedIn-Profile-blue?style=for-the-badge&logo=linkedin" alt="LinkedIn"/></a></td>
            <td><a href="mailto:sobia.hashmi454@gmail.com"><img src="https://img.shields.io/badge/Gmail-Profile-red?style=for-the-badge&logo=gmail" alt="Gmail"/></a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/sobiahashmi"><img src="https://img.shields.io/badge/GitHub-Profile-green?style=for-the-badge&logo=github" alt="GitHub"/></a></td>
            <td><a href="https://x.com/sobiahashmi9"><img src="https://img.shields.io/badge/Twitter-Profile-blue?style=for-the-badge&logo=twitter" alt="Twitter"/></a></td>
        </tr>
        <tr>
            <td><a href="https://www.kaggle.com/sobiahashmi"><img src="https://img.shields.io/badge/Kaggle-Profile-orange?style=for-the-badge&logo=kaggle" alt="Kaggle"/></a></td>

       
</div>



<a id="13"></a>
<h1 style="background-color:#435420;font-family:newtimeroman;font-size:300%;text-align:center;border-radius: 15px 50px;color:#FF9900;">Introduction to Statements, Expressions, and Indentation</h1>
<figcaption style="text-align: center;">
    <strong>
    </strong>
</figcaption>

# Statements
A statement is a complete line of code that performs a specific action. Examples include assignment statements, loop statements, conditional statements, and function calls.

## Assignment Statements: Assign a value to a variable.

In [34]:
# Example 1: Assigning a string to a variable
p = "Alise99"
print(p, p)
# you = 'Atif'
# print(name,you)

Alise99 Alise99

In [13]:
#Example 2: Assigning a value to a variable
x = 30

print(x * 5)

150

## Print Statements: Output information to the console.

In [35]:
# Example 1: Printing a String
print("Hello, \nWorld\n!")

Hello,
World
!

In [13]:
print("Bike \t bike")

Bike 	 bike

In [16]:
print("Iam Happy")

Iam Happy

## Conditional Statements: Control the flow of execution based on conditions

In [36]:
# name = 'Alice'
# if_p = 'alice'


# example 1
x1 = 5
# Conditional statement
if x1 > 5:
    print("hi")
else:
    print("hello")

hello

In [22]:
2+2

4

In [24]:
# Example 2 : Checking if a person's age is eligible for voting

age = 18
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

## Loop Statements: Execute a block of code repeatedly.

In [41]:
# Example 1: Using a for loop to iterate over a sequence of numbers


for i in range(5):
    i = 10
    print(i)

10
10
10
10
10

In [27]:
a = 10
a = 20
print(a)

20

In [42]:
# Example 2 : print numbers from 1 to 5
for i in range(3, 10, 2):
    # Inside the loop, the current value of 'i' is printed
    print(i)

3
5
7
9

## Expressions

An expression is a combination of values, variables, and operators that can be evaluated to produce a result. Expressions can be part of statements.

In [23]:
# Assigning the value 5 to the variable x
x = 5  # 5 is an expression
x

5

In [43]:
# Assigning the result of the expression x + 3 to the variable y
# x + 3 is an expression
y = x / 3
print(y)

1.6666666666666667

In [29]:
5*10-2/4

49.5

## Indentation

Indentation refers to the spaces or tabs at the beginning of a line of code. 
In Python, indentation is not just for readability it is a syntactical element that defines the structure of your code.
Indentation is used to group statements into blocks

## Rules for Indentation

- Use consistent indentation throughout your code.
- The standard convention is to use four spaces for each level of indentation.
- Indentation is used to indicate the beginning and end of code blocks, such as those in loops and conditional statements.

In [33]:
#example
if x > 5:  # The if statement starts here and is followed by a colon (:)
    print("x is greater than 5")  # This line is indented with four spaces and is part of the if block
    if x < 3:
        print("x is less than 3")  # This line is also indented with four
else:  # The else statement starts here and is followed by a colon (:)
    print("x is not greater than 5")  # This line is indented with four spaces and is part of the else block

x is not greater than 5

In [44]:
# Example: Using indentation in a for loop
for i in range(3):  # The for loop starts here and is followed by a colon (:)
    print("Inside the loop") # This line is indented with four spaces and is part of the loop
print("Outside the loop")  # This line is not indented and outside the loop

Inside the loop
Outside the loop
Inside the loop
Outside the loop
Inside the loop
Outside the loop

## Identifiers, Keywords & Comments

## Identifiers

Identifiers are names given to entities in a Python program. These entities can be variables, functions, classes, modules, or any other user-defined objects.
Identifiers are crucial for making your code readable and understandable.

## Rules for Identifiers

- Must begin with a letter (a-z, A-Z) or an underscore (_).
- The remaining characters can be letters, numbers, or underscores.
- Case-sensitive (e.g., variable and Variable are different).

In [46]:
# Example 1: Using identifiers for variable names

# Assigning a value to the variable 'x'
x0 = 5  # Here, 'x' is an identifier representing the variable name

x = 5
X = 10
print(X)

# Printing the value of 'x'
print("The value of x is:", x0)

10
The value of x is: 5

In [40]:
# Example 2: Using identifiers for variable names

# Assigning a value to the variable 'y'
y = 8  # Here, 'y' is an identifier representing the variable name

# Printing the value of 'y'
print("The value of y is:", y)

The value of y is: 8

## Keywords

Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.
They are part of the Python language syntax and serve specific purposes in the code.

## Examples of Keywords:

## if, else, while, for, in, def, class, True, False, None, and, or, not, import, from, as, try, except, etc.

In [41]:
# Python code to check Keywords
import keyword 

# Print the list of keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Comments

Comments are annotations in the code that are ignored by the Python interpreter. They are meant for human readers to add explanations, notes, or any information that can help understand the code.

- Single-line Comments: Begin with # and extend to the end of the line.
- #This is a single-line comment
- Multi-line Comments: Enclosed between triple-quotes (''' or """) and can span multiple lines.
- '''This is a multi-line comment'''

Example

In [47]:
# This is a comment explaining the purpose of the following code

x = "Laptop"  # This is an inline comment about the variable
print(x)

Laptop

# Variables in Python

Variables in Python are used to store data values

### Variable Declaration:
### name = "John“
### age = 30
### Here, ‘name’ & ‘age’ are variables which stores the values – “John” & 30

### Rules of variables

- They can contain letters, digits, and underscores.
- They must start with a letter or an underscore (but not a digit).
- Variable names are case-sensitive.
- Avoid using Python keywords (reserved words) as variable names.

In [48]:
# Assigning a numerical value (10) to the variable 'number'
number = 10
print(number)  # Printing the value of the variable

10

In [49]:
# Assigning a string value ("Hello, World!") to the variable 'message'
message = "Hello, World!"
print(message)  # Printing the value of the variable

Hello, World!

### Multiple assignments in Python allow you to assign values to multiple variables in a single line.

### x, y, z = 10, 20, 30
### This assigns 10 to x, 20 to y, and 30 to z

In [36]:
# Multiple assignments
x, y, z = 10, 20, 30

# Print the values of x, y, and z
print(x,"\n",y)
print("x =", x, "\ny =", y)
print("y =", y)
print("z =", z)

10
 20
x = 10
y = 20
y = 20
z = 30

### Variable reuse in Python allows you to assign a new value to an existing variable, effectively overwriting its previous value.

### x = 5
### x = "Hello“
### In this example, x initially holds an integer but is later assigned a string.

In [37]:
# Variable reuse
x = 5
print("Initial value of x:", x)

# Reassigning a new value to the variable 'x'
x = 'hello'
print("New value of x:", x)

Initial value of x: 5
New value of x: hello

# Fundamental Data Types

### Integer (int)

An integer is a numerical data type that represents whole numbers. It does not include fractions or decimal points.

In [48]:
a = 19.80
print(a)
print(type(a))   # To check the data type of a

<class 'float'>

In [64]:
# Assigning a positive integer value (42) to the variable 'positive_integer'
positive_integer = 42

# Assigning a negative integer value (-10) to the variable 'negative_integer'
negative_integer = -10

# Assigning zero (0) to the variable 'zero'
zero = 0

# Printing the values of the variables
print("Positive Integer:", positive_integer)
print("Negative Integer:", negative_integer)
print("Zero:", zero)

Positive Integer: 42
Negative Integer: -10
Zero: 0

### Integer Caches: Python caches a range of small integers (typically from -5 to 256)​

In [44]:
a = 42 
b = 42 
print(a is b)     # gives True
print(id(a),'\n',id(b))    # id of both a & b is same

True
140707796688600
 140707796688600

In [66]:
x = 257
y = 257
print(x is y)    # gives False
print(id(x), id(y))    # id of both x & y may or may not be the same

False
1587726659952 1587726648496

### (Float)
### Floats are used to represent real numbers.

### Floats in Python are implemented as IEEE 754 double-precision floating-point numbers, which provide approximately 15-17 significant digits of precision

In [67]:
a = 1.5

# Printing the data type of 'a'
print(type(a))     # Output: <class 'float'> (indicating that 'a' is a float)

# Printing the memory address (ID) of 'a'
print(id(a))       # Output: Memory address of the float object '1.5'

<class 'float'>
1587726654480

In [68]:
# Assigning a floating-point value to the variable 'pi'
pi = 3.14159

# Printing the value of 'pi'
print("Value of pi:", pi)

Value of pi: 3.14159

### Complex

- Complex numbers in Python are written as a+bj, where a is the real part, and b is the imaginary part
- Used in AC (circuit analysis), signal processing, and quantum mechanics.

In [2]:
z = 3 + 4j  # Where 3 is the real part, and 4 is the imaginary part.

# Printing the data type of 'z'
print(type(z))     # Output: <class 'complex'> (indicating that 'z' is a complex number)

# To check the id of 'z' (commented out)
print(id(z))

<class 'complex'>
2226731295216

In [3]:
a = 10 + 12j  # Where 10 is the real part, and 12 is the imaginary part.

# Printing the data type of 'z'
print(type(a))     # Output: <class 'complex'> (indicating that 'z' is a complex number)

# To check the id of 'z' (commented out)
print(id(a))

<class 'complex'>
2226731294960

### Boolean (bool)

- A boolean is a data type that represents one of two possible values: True or False
- Booleans are primarily used for logical operations and conditions.
- Used extensively in conditional statements, loops, and logical operations

In [51]:
# Using the bool() constructor to convert the integer value 20 to a boolean value
a = bool(-1)

# Printing the boolean value 'a' and its data type
print(a, type(a))

True <class 'bool'>

In [54]:
0 == False

True

In [46]:
# Using the bool() constructor to convert the integer value 0 to a boolean value
b = bool(10)

# Printing the boolean value 'b' and its data type
print(b, type(b))

True <class 'bool'>

### NoneType (None)

- NoneType is a special data type in Python that has only one value: None. 
- It is used to represent the absence of a value or a null value. 
- When a variable or a function returns None, it typically signifies that there is no valid data or no meaningful result.

### In this example, the variable result is assigned the value None, indicating that it has not been assigned a meaningful value or result yet
### result = None

# Strings in Python

- In Python, a string is a sequence of characters, and it is one of the fundamental data types in the language. 
- Strings are used to represent text and are treated as immutable sequences of Unicode code points.

### Strings can be declared using either single quotes (‘ ’) or double quotes (“ ”).

In [51]:
single_quoted = 'Hello, World!'
double_quoted = "Python is great!"
triple_quoted = '''This is a 
                multi-line string.'''

print("Single quoted:", single_quoted)
print("Double quoted:", double_quoted)
print("Triple quoted:", triple_quoted)

Single quoted: Hello, World!
Double quoted: Python is great!
Triple quoted: This is a
                multi-line string.

### String Concatenation: You can concatenate (combine) strings using the + operator.

In [59]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name + " 12334" 
print(full_name)

John Doe 12334

### String Length: You can find the length of a string using the len() function

In [63]:
text = "Pytho n"
length = len(text)
print(length)

print(len("Python"))

6

In [ ]:
# Check if a number is positive or negative

### String Indexing

### Strings are zero-indexed, meaning the first character has an index of 0, the second character has an index of 1, and so on.

In [7]:
text = "Python"

# Accessing the characters of the string using their indices
first_char = text[-3]   # Accessing the first character
second_char = text[2]  # Accessing the second character
third_char = text[5]   # Accessing the third character

# Printing the characters along with their indices
print("First character (index 0):", first_char)
print("Second character (index 1):", second_char)
print("Third character (index 2):", third_char)

First character (index 0): n
Second character (index 1): t
Third character (index 2): n

In [8]:
text = "Python"

for i in range(len(text)):
    if i >= 3:
        print(text[i])

h
o
n

### String Slicing

- Slicing allows you to extract a portion (substring) of a string by specifying a range of indices.
- The syntax for slicing is string[start:end:steps], where start is the index of the first character you want to include, and end is the index of the first character you want to exclude.

In [17]:
# Define the string variable 'text'
text = "Python"

#  P  y  t  h  o  n
#  0  1  2  3  4  5
# -6 -5 -4 -3 -2 -1

# Slice the string from index 1 to 4 (exclusive) and assign it to 'sliced_text'
sliced_text = text[-5:-2]  # "yth" (from index 1 to 3)

# Print the sliced text along with a comment
print("Sliced text:", sliced_text)

t = text[-3:-1]

s = text[::-1]

print(t)
print(s)

Sliced text: Pyth

nohtyP

In [91]:
# Define the string variable 'text'
text = "Python"

# Slice the string using negative indices and assign it to 'sliced_text'
sliced_text = text[-3:-1]  # "th" (from the third-to-last to the second-to-last character)

# Print the sliced text along with a comment
print("Sliced text:", sliced_text)

Sliced text: ho

# String Methods

- Conversion Methods - str(): Converts an object into a string representation
- int(), float(), complex(): Converts a string to an integer, float, or complex number.¶

In [27]:
# Define an integer variable 'number'
number = 42

# Convert the integer 'number' to a string and assign it to 'str_number'
str_number = str(number)
flt_number = float(number)
int_number = float("67.98")

# Print the converted string along with a comment
print("String representation of the number:", str_number)
print(flt_number)
print(int_number)
print(type(str_number))
print(str_number[1])

String representation of the number: 42
42.0
67.98
<class 'str'>
2

### Case Conversion Methods

- upper(): Converts all characters in a string to uppercase.
- lower(): Converts all characters in a string to lowercase.
- capitalize(): Capitalizes the first character of a string.
- title(): Converts the first character of each word to uppercase.

In [96]:
# Define the string variable 'text'
text = "Python is Fun"

# Convert the string to uppercase and assign it to 'upper_text'
upper_text = text.upper()

# Convert the string to lowercase and assign it to 'lower_text'
lower_text = text.lower()

text.capitalize()
text.title()

# Print the converted strings along with comments
print("Uppercase:", upper_text)
print("Lowercase:", lower_text)

Uppercase: PYTHON IS FUN
Lowercase: python is fun

### Stripping Methods

- strip(): Removes leading and trailing whitespace from a string.
- lstrip(): Removes leading whitespace.
- rstrip(): Removes trailing whitespace.

In [89]:
# Define the string variable 'my_string'
my_string = " Python is fun! "

# Strip leading and trailing whitespace characters from the string and assign it to 'stripped_string'
stripped_string = my_string.strip()

# Print the stripped string along with a comment
print("Stripped string:", stripped_string)

Stripped string: Python is fun!

### Search and Replace Methods

- find(): Returns the lowest index of a substring (or -1 if not found).
- index(): Similar to find() but raises an exception if the substring is not found.
- replace(): Replaces occurrences of a substring with another string.

In [31]:
# Define the string variable 'sentence'
sentence = " Python is   easy  and Python  is f@un "

# Find the index of the first occurrence of "is" in the string and assign it to 'index'
index = sentence.find("is")

print(index)

# Replace all occurrences of "Python" with "JavaScript" in the string and assign it to 'replaced_sentence'
replaced_sentence = sentence.replace("Python", "JavaScript", 1).replace('  '," ").replace('@','')

# Print the replaced sentence along with a comment
print("Replaced sentence:", replaced_sentence)

8
Replaced sentence:  JavaScript is  easy and Python is fun

### Counting Methods

### count(): Returns the number of occurrences of a substring in a string.

In [34]:
# Define the string variable 'sentence'
sentence = "Python is easy and Python is fun this crysis"

# Count the occurrences of the substring "is" in the string and assign it to 'count_is'
count_is = sentence.count(" is ")

# Print the count along with a comment
print("Count of 'is':", count_is)

Count of 'is': 2

### Checking Methods

- startswith(): Checks if a string starts with a specified prefix.
- endswith(): Checks if a string ends with a specified suffix.
- isalpha(): Checks if all characters in a string are alphabetic.
- isdigit(): Checks if all characters in a string are digits.
- isalnum(): Checks if all characters in a string are alphanumeric.

In [46]:
# Define the string variable 'text'
text = "HelloWorld65"
number = "32"

# Check if the string starts with the prefix "Hello" and assign the result to 'starts_with_hello'
starts_with_hello = text.startswith("e")

# Print the result along with a comment
print("Starts with 'Hello':", starts_with_hello)

print(text.isalpha())
print(text.isdigit())

Starts with 'Hello': False
False
False

### Splitting and Joining Methods

- split(): Splits a string into a list of substrings based on a specified delimiter.
- join(): Concatenates a list of strings into one string using a specified delimiter.

In [103]:
# Define the string variable 'sentence'
sentence = "Python is easy and fun"

# Split the string into words and assign the result to 'words'
words = sentence.split()  # Defaults to splitting on whitespace

# Join the words back into a single string with space as separator and assign it to 'joined_sentence'
joined_sentence = " ".join(words)

# Print the joined sentence along with a comment
print("Joined sentence:", joined_sentence)

Joined sentence: Python is easy and fun

### Formatting Methods

- format(): Formats a string by replacing placeholders with values.
- format_map(): Similar to format() but takes a mapping (a dictionary) as its argument.

In [2]:
# Define variables 'name' and 'age'
name = "John"
age = 25

# Format the string using placeholders {} and the format() method, and assign it to 'formatted_string'
formatted_string = "My name is {}, and I am {} years old.".format(name, age)

# Print the formatted string along with a comment
print("Formatted string:", formatted_string)

print(f"My name is {name}, and I am {age} years old.")

print("My name is ", name, "and I am ", age, "years old.")

Formatted string: My name is John, and I am 25 years old.
My name is John, and I am 25 years old.
My name is  John and I am  25 years old.

# Type Casting & Conversion

### bool(): Converts an object to a Boolean value.

In [107]:
# Define the variable 'value'
value = 0

# Convert the value to a boolean and assign it to 'bool_value'
bool_value = bool(value)

# Print the boolean value along with a comment
print("Boolean value:", bool_value)

Boolean value: False

### list(): Converts an iterable (e.g., tuple, string, or set) to a list.

In [108]:
# Define the tuple 'my_tuple'
my_tuple = (1, 2, 3)

# Convert the tuple to a list and assign it to 'my_list'
my_list = list(my_tuple)

# Print the converted list along with a comment
print("Converted list:", my_list)

Converted list: [1, 2, 3]

###  tuple(): Converts an iterable to a tuple.

In [109]:
# Define the list 'my_list'
my_list = [1, 2, 3]

# Convert the list to a tuple and assign it to 'my_tuple'
my_tuple = tuple(my_list)

# Print the converted tuple along with a comment
print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3)

###   set(): Converts an iterable to a set.

In [110]:
# Define the list 'my_list'
my_list = [1, 2, 3, 3]

# Convert the list to a set and assign it to 'my_set'
my_set = set(my_list)

# Print the converted set along with a comment
print("Converted set:", my_set)

Converted set: {1, 2, 3}

### int(): Converts a number or a string containing a whole number to an integer.

In [111]:
# Define the string 'num_str'
num_str = "123.45"

# Convert the string to a float and assign it to 'num_float'
num_float = float(num_str)

# Print the converted float along with a comment
print("Converted float:", num_float)

Converted float: 123.45

### float(): Converts a number or a string containing a number to a floating-point number

In [112]:
# Define the string 'num_str'
num_str = "123.45"

# Convert the string to a float and assign it to 'num_float'
num_float = float(num_str)

# Print the converted float along with a comment
print("Converted float:", num_float)

Converted float: 123.45

###  str(): Converts an object to a string.

In [113]:
# Define the integer 'num_int'
num_int = 123

# Convert the integer to a string and assign it to 'num_str'
num_str = str(num_int)

# Print the converted string along with a comment
print("Converted string:", num_str)

Converted string: 123

### dict(): Converts a sequence of key-value pairs as tuples into a dictionary.

In [114]:
# Define the list of tuples 'my_list'
my_list = [('a', 1), ('b', 2)]

# Convert the list of tuples to a dictionary and assign it to 'my_dict'
my_dict = dict(my_list)

# Print the converted dictionary along with a comment
print("Converted dictionary:", my_dict)

Converted dictionary: {'a': 1, 'b': 2}

### ord() and chr(): Convert a character to its Unicode code point and vice versa.

In [115]:
# Define the character 'char'
char = 'A'

# Get the Unicode code point of the character and assign it to 'unicode_value'
unicode_value = ord(char)

# Get the character from its Unicode code point and assign it to 'char_again'
char_again = chr(unicode_value)

# Print the Unicode code point of the character along with a comment
print("Unicode code point of", char, ":", unicode_value)

# Print the character obtained from its Unicode code point along with a comment
print("Character obtained from Unicode code point", unicode_value, ":", char_again)

Unicode code point of A : 65
Character obtained from Unicode code point 65 : A

In [1]:
mlist = [1,2,3]
mlist[1] = 5
mlist

[1, 5, 3]

In [2]:
mtuple = (1,2,3)
mtuple[2] = 5
mtuple

TypeError: 'tuple' object does not support item assignment